<form action="/app/editar" method="POST">
    <input type="text" readonly value="<%= usuario.codUsuario %>">
    <input type="text" value="<%= usuario.descripcion %>">
    <button type="submit" name="editar">Editar</button>
    <button type="submit" name="cancelar">Cancelar</button>
</form>