<!DOCTYPE html>
<html lang="es">

<!-- Vista principal que contiene la cabecera y el pie de página -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png">
    <title>TFG-Node</title>
</head>

<body>
    <header>
        <h2 class="font-nunito">TFG-Node</h2>
        <h3>
            <!-- El título se pasará por variable, cambiando según la página en la que se encuentre -->
            <%= titulo %>
        </h3>
    </header>
    <main>
        <!-- 
            No todas las Vistas necesitan ser incluidas con pasandole parametros.
            En caso de estar definido, se incluiran con datos. El include necesita de una variable para saber que incluir
        -->
        <% if( typeof datos !='undefined' ) { %>
            <%- include(archivo, datos)%>
        <% } else { %>
            <%- include(archivo)%>
        <% } %>
    </main>
    <footer>
        &copy;Luis Puente Fernandez
    </footer>
    <script src="/script.js"></script>
</body>

</html>