<!-- Vista de la pagina principal-->
<h2 class="titulo-norm">Bienvenido</h2>
<form action="/" method="POST" enctype="application/x-www-form-urlencoded" class="flex flex-col gap-2 s4:gap-5">
    <button type="submit" name="login" class="boton-confirm">Iniciar Sesion</button>
    <button type="submit" name="registro" class="boton-confirm">Registrarse</button>
</form>