<!-- Vista de la pagina principal-->
<h2>Bienvenido al proyecto de node</h2>
<form action="/" method="POST" enctype="application/x-www-form-urlencoded">
    <button type="submit" name="login">Iniciar Sesion</button>
    <button type="submit" name="registro">Registrarse</button>
</form>