<form action="/login" method="post">
    <label>Usuario: </label>
    <input type="text" name="usuario">
    <label>Usuario: </label>
    <input type="password" name="password">
    <button type="submit" name="login">Login</button>
    <button type="submit" name="volver">Volver</button>
</form>