<form action="/login" method="POST">
    <label>Usuario: </label><br>
    <input type="text" name="usuario" value="<%= typeof usuario != 'undefined' ? usuario : '' ;   %>"><br>
    <label>Contraseña: </label><br>
    <input type="password" name="password"><br>
    <%if (typeof error !='undefined' ){%>
        <span>
            <%= error %>
        </span><br>
    <%}%>
    <button type="submit" name="login">Iniciar Sesión</button><br>
    <button type="submit" name="volver">Volver</button>
</form>