<h2>Por favor <%= usuario.codUsuario %>, introduce tu contraseña</h2>
<p>Una vez reautenticado, no se volvera a solicitar que vuelves a introducir la contraseña, hasta que canceles o realices el cambio correctamente</p>
<p>Si sales de alguna forma, que el servidor no contempla, alguien podrá cambiar tus credenciales</p>
<form action="/reautenticar" method="POST">
    <input type="password" name="password"><br>
    <%if (typeof ePassword !='undefined' ){%>
        <span><%= ePassword %></span><br>
    <%}%>
    <button type="submit" name="aceptar">Entrar</button><br>
    <button type="submit"name="cancelar">Cancelar</button>
</form>