<% usuarios.forEach( (usuario) => { %>
    <section onclick="redirigir('/admin/usuarios/<%= usuario.codUsuario %>')">
        <article><%= usuario.codUsuario %></article>
        <article><%= usuario.descripcion %></article>
        <article><%= usuario.tipo %></article>
    </section>
<% })%>
