<table>
    <% usuarios.forEach( (usuario) => { %>
        <tr>
            <td><%= usuario.codUsuario %></td>
            <td><%= usuario.descripcion %></td>
            <td><%= usuario.tipo %></td>
        </tr>
    <% })%>
</table>